
  	<%-partial("includes/_header.ejs")%>
    
    <%- partial("includes/_nav.ejs", { id: "contactpage" }) %>

    <article class="contact_me">
      <h2>There are a number of ways to find me online</h2>
      <ol>
        <li>
          <details>
            <summary><h3>e-mail</h3></summary>
            <p>You can e-mail me on: <a href="mailto:manticmoments@gmail.com">manticmoments@gmail.com</a></p>
          </details>
        </li>
        <li>
          <details>
            <summary><h3>twitter</h3></summary>
            <p>You can address me on twitter, if you use <a href="https://twitter.com/manticmoments">@manticmoments</a> at the start of your message.</p>
          </details>
        </li>
        <li>
          <details>
            <summary><h3>youtube</h3></summary>
            <p>You could always get in touch by leaving a message on any one of the video tutorials I have embeded on this site. Or you could even <a href="https://www.youtube.com/user/ManticMoments/discussion"> visit my youtube discussion page</a>, and chat about my videos in general.</p>
          </details>
        </li>
      </ol>

    </article>
    
    <%-partial("includes/_footer.ejs")%>