

    <%-partial("includes/_header.ejs")%>
    
    <%- partial("includes/_nav.ejs", { id: "indexpage" }) %>

    <article>
      <h2>Welcome to my website</h2>
      <section>
        <img class="article_image" src="/images/article-monster.png" alt="The Website Mascot">
        <p class="opener">This website is dedicated to my wargaming hobby. I have always preferred large armies clashing across the tabletop, in part because of the broad manouvering and strategy associated with such games. However I enjoy the modelling aspect of armies that are not just 1 model per base. I find large ranked blocks of humans, and other races,wheter science fiction or high fantasy, coming to battle, supported by monsters, machines (and even combinations of the two) to be the most asthetically pleasing representation of fictional battles on the tabletop.</p>
      </section>

      <section>
        <p>All that, just so I can explain why I called this website "Mantic Moments and Epic Times". Mantic's Kings of War is my favourite mass fantasy battle game, and EPIC is one of the most well known 6mm sci-fi wargame. If I'm honest I like the look of almost any 6mm sci-fi wargame, and haven't played Epic in years.</p>
      </section>

      <section>
        <h3>My tutorials</h3>
        <p>My main focus when I build my armies is to do so without breaking the bank. Thus I often sit down and look at ways of doing things a little bit cheaper, as this hobby can be expensive enough as it is! A few times I have figured out something that improves my skill, or saves me a lot of time, that I wish I knew when I started building and painting miniatures. And sometimes I'll feel one of these ideas is good enough that I'd like to share the idea with other people. That is why this website will mostly be about <a href="../tutorials/tutorials-main.html">tutorials I have made</a> for various aspects of the miniature building and painting hobby.<p>
      </section>
     
      <section>
        <h3>The rest of the site</h3>
        <p>My friends and I occasionally listen to music while we play our wargames. You can also listen to this music, by visiting <a href="../music/musicpage.html">my music page</a>.
        I'm sure as the site grows I will also add other topics, including general musings on the hobby, along with some battle reports. I hope you enjoy the site, and feel free to <a href="../contact-me.html">give me feedback anytime</a></p>
      </section>
      
  	</article>
    <%-partial("includes/_footer.ejs")%>
