
    <%-partial("../includes/_header.ejs")%>
    
    <%- partial("includes/_nav.ejs", { id: "musicpage" }) %>

    <article>
      <h2>Music while you play</h2>
      <section>
        <img class="article_image" src="/images/article-monster.png" alt="The Website Mascot">
        <p class="opener">Sometimes players want a little bit more emersion in their games, to get the feel of tense battle. Rather than screaming horribly every time their unit is killed, they could listen to atmospheric music.<br><br>Below you'll find a few of my picks for each of my favourite games. Why different songs for different games? Because you don't want to be listening to something that sounds like Bladerunner when you're immersed in a grand battle between elves and dwarves.</p>
      </section>

      <section>
        <h3>Polyversal and other near future games</h3>
        <p>Polyversal is set in a dystopian near future where humans are interfighting to get off the planet. The atmosphere needed to reflect that it was future warfare, without sounding like Star Wars.</p>
        <ol>
          <li>Face to The Enemy<br><audio controls>
            <source src="/music/atmos-music/poly-facetotheenemy.mp3" type="audio/mpeg">Your browser does not support this audio. Try updating your browser to listen!</audio>
          </li>
          <br>
          <li>Hell March<br><audio controls>
            <source src="/music/atmos-music/poly-hellmarch.mp3" type="audio/mpeg">Your browser does not support this audio. Try updating your browser to listen!</audio>
          </li>
          <br>
          <li>Mission Accomplished<br><audio controls>
             <source src="/music/atmos-music/poly-missionaccomplished.mp3" type="audio/mpeg">Your browser does not support this audio. Try updating your browser to listen!</audio>
          </li>
        </ol>
      </section>

      <section>
        <h3>Kings of War, or massive fantasy battles</h3>
        <p>Kings of War is set in a fantasy world, that is not too different from the Middle Earth found in Lord of The Rings. It is a world of Elves and Dwarves, swords and Sorcery. Of heroes and heroines.</p>
        <ol>
          <li>The Heroic Age<br><audio controls>
            <source src="/music/atmos-music/kow-heroic-age.mp3" type="audio/mpeg">Your browser does not support this audio. Try updating your browser to listen!</audio>
          </li>
          <br>
          <li>Attack of The Mole Men<br><audio controls>
            <source src="/music/atmos-music/kow-attack-mole-men.mp3" type="audio/mpeg">Your browser does not support this audio. Try updating your browser to listen!</audio>
          </li>
          <br>
          <li>Hero Down(to play if you're loosing!)<br><audio controls>
            <source src="/music/atmos-music/kow-hero-down.mp3" type="audio/mpeg">Your browser does not support this audio. Try updating your browser to listen!</audio>
          </li>
        </ol>
      </section>


      <section>
        <h3>EPIC</h3> <p>Like EPIC, many many other wargames, are set in the far far future. The music in this section works better for darker, mysterious sci-fi settings. There is something definitely alien and unknown about each of these pieces.</p>
        <ol>
          <li>Dense<br><audio controls>
            <source src="/music/atmos-music/epic-dense.mp3" type="audio/mpeg">Your browser does not support this audio. Try updating your browser to listen!</audio>
          </li>
          <br>
          <li>Smash<br><audio controls>
            <source src="/music/atmos-music/epic-smash.mp3" type="audio/mpeg">Your browser does not support this audio. Try updating your browser to listen!</audio>
          </li>
          <br>
          <li>Twin<br><audio controls>
            <source src="/music/atmos-music/epic-twin.mp3" type="audio/mpeg">Your browser does not support this audio. Try updating your browser to listen!</audio>
          </li>
        </ol>
      </section>

      <p>That's it for my music list so far. I hope you enjoyed listening.</p> 
    </article>
   
    <%-partial("includes/_footer.ejs")%>