<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="../main.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="../tutorials/tutorials.css" media="screen" />
    <title>HomePage</title>
  </head>

  <body>
    <%-partial("../includes/_header.ejs")%>

    <nav class="navigation">
      <ul><br><br>
        <li><a id="navlink" href="../../index.html">HOME PAGE</a></li><br><br>
        <li id="tutorial"><a id="navlink" href="../../tutorials/tutorials-main.html">TUTORIALS</a><br><br>
        
          <ul>
            <li><a id="navlink" href="../tutorials/pin-vice-drill.html">PIN VICE DRILL</a></li><br><br>
            <li><a id="navlink" href="../tutorials/chain-link-fence.html">CHAIN LINK FENCE</a></li><br><br>
            <li><a id="navlink" href="../tutorials/magnetic-tokens.html">MAGNETIC TOKENS</a></li><br><br>
            <li id="current-tutorial"><a id="navlink" href="../tutorials/6mm-bases.html">6mm BASES</a></li>
          </ul>

        </li><br><br>
        <li><a id="navlink" href="../../tools.html">TOOLS I USE</a></li><br><br>
        <li><a id="navlink" href="../../musicpage.html">MUSIC</a></li><br><br>
        <li><a id="navlink" href="../../contact-me.html">CONTACT ME</a></li><br><br>
      </ul>
    </nav>

    <article class="tutorials">
      <h2>How to: make cheap 6mm bases</h2>
      
      <section>
        <img class="tutorial_article_image" src="/images/tutorial-article-image.png" alt="Futuristic Pinning Drill">
        <p class="tutorial_opener">When I went online to buy some 6mm bases for my new armies, I found that the bases were 10-20p, which add a fair bit of cost to your army when you count them all up. So I decided I would make my own 6mm bases. Here's how I did it.</p>
      </section>

      <section>
        <h3>You can watch the video here, or read the instructions below!</h3>
        <div class="tutorial_video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WN_PkzE0NI4" frameborder="0" allowfullscreen></iframe>
        </div>
      </section>

      <section>
        <h3>Step 1: Making your measuring strip</h3>
        <p>Get your DVD caase, and use your sharp blaade to cut gently along the inside of the DVD lid. This should be done at the top or the bottom, not along the sides. This will leave you with a strip of plastic from the bottom or top of the case. This will act as your measurement strip for measuring out the width of each base.</p>
      </section>
      
      <aside id="caution_body">
        <img class="article_image" src="/images/caution-symbol.png" alt="Danger Sign"><img class="tutorial_article_image" src="/images/caution-symbol.png" alt="Danger Sign">
        <div id="caution_text">
          <h3>Caution!</h3>
          <p>When cutting strips from your DVD case, it can be very easy for your scalpel to slip, and leave scars in the base length. This doesn't make the base unusable, but it is best avoided for making a decent base</p>
        </div>
      </aside>

      <section>
        <h3>Step 2: Creating lengths of plastic base</h3>
        <p>Take your measurement strip which should be about 6mm in width, and place it on your DVD case, so that you are measuring out another 6mm strip, which would occur horizontally across your DVD case, if the case was standing upright, like in a store. This will give a strip of similar length to your measurement strip, but this strip will be flater. Finally, cut the edge which is still attached to the DVD case, for a completed base strip.</p>

        <p>Typically these rectangular bases are 40mm in length. Since we have cut our strips into the appropriate 6mm width, we now simply need to measure out the length of 40mm using a ruler, and cut the base strip at each interval. This will result in a number of full sized bases!</p>
      </section>

      <section>
        <h3>Step 3:Complicated base layouts</h3>
        <p>For other base shapes, such as 20mm by 20mm bases, you will have to use a ruler to measure out what you need. Perhaps if you currently own a 20mm by 20mm base, you can simply cut out a 20mm strip, all along the DVD case. Then lay get your 20mm by 20mm base, and lay it over your 20mm strip and cut it into 20mm sections, for your completed bases. If you want other non-standard base shapes(such as hexagon or circle) this method may not work at all, without a much more powerful cutting device, and a method for making accurate cuts.</p>
      </section>

      <section>
        <h3>Step 4: Sanding the base</h3>
        <p>On most DVD cases, there is a very smooth side, and a rougher side. Use your sandpaper over the smooth side. Rub the sanpaper around, somewhat unevenly so that you end up with the smooth side being somewhat rough to the touch. The reason for doing this is that when you do glue your miniatures to your base, they will actually stick to this newly rough side, as the glue will seep into the rough grain, forming a stronger bond.</p>
      </section>

      <section>
        <h3>Step 5:Adding miniatures and flock</h3>
        <p>Once you are happy with your base, you can now quite easily glue your miniatures to your base. I would typically use superglue or Universal glue for this task, as the DVD plastic does not seem to melt well when using plastic glue. You can then add flock around your miniatures using whichever glue and method you normally use when flocking miniatures.</p>
      </section>

      <aside id="caution_body">
        <img class="article_image" src="/images/caution-symbol.png" alt="Danger Sign"><img class="tutorial_article_image" src="/images/caution-symbol.png" alt="Danger Sign">
        <div id="caution_text">
          <h3>Caution!</h3>
          <p>Be careful when adding flock to 6mm bases. It can be very easy to get glue on the 6mm miniatures themselves, which will make flock difficult to remove. Despite being careful, I often find a tiny amount of flock can statically stick to the miniatures themselves. I usually have an old bulky brush I keep aside specifically for flock and static grass removal. Bruss off any excess you don't need.</p>
        </div>
      </aside>

      <section>
        <p>I hope this was helpful. If people have any other suggestions I should add in please let me know.</p>
      </section>

  	</article>
    
    <%-partial("../includes/_footer.ejs")%>
  </body>
</html>