<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="../main.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="../tutorials/tutorials.css" media="screen" />
    <title>HomePage</title>
  </head>

  <body>
    <%-partial("../includes/_header.ejs")%>

    <nav class="navigation">
      <ul><br><br>
        <li><a id="navlink" href="../../index.html">HOME PAGE</a></li><br><br>
        <li id="tutorial"><a id="navlink" href="../../tutorials/tutorials-main.html">TUTORIALS</a><br><br>
        
        <ul>
          <li id="current-tutorial"><a id="navlink" href="../tutorials/pin-vice-drill.html">PIN VICE DRILL</a></li><br><br>
          <li><a id="navlink" href="../tutorials/chain-link-fence.html">CHAIN LINK FENCE</a></li><br><br>
          <li><a id="navlink" href="../tutorials/magnetic-tokens.html">MAGNETIC TOKENS</a></li><br><br>
          <li><a id="navlink" href="../tutorials/6mm-bases.html">6mm BASES</a></li>
        </ul>

        </li><br><br>
        <li><a id="navlink" href="../../tools.html">TOOLS I USE</a></li><br><br>
        <li><a id="navlink" href="../../musicpage.html">MUSIC</a></li><br><br>
        <li><a id="navlink" href="../../contact-me.html">CONTACT ME</a></li><br><br>
      </ul>
    </nav>

    <article class="tutorials">
      <h2>How to: pin a model.</h2>

      <section>
        <img class="tutorial_article_image" src="/images/tutorial-article-image.png" alt="Futuristic Pinning Drill">
        <p class="tutorial_opener">Pinning is far more useful than you think when you're building your army. I use it for difficult plastic models, and pretty much every metal or resin model I own. There's been times when I know I don't need to pin a model, but I do, because if that model ever drops off the table you're going to wish it was pinned.</p>
        
        <p>My rule is, if you're unsure- pin it!</p>
      </section>
      
      <section>
        <h3>You can watch the video here, or read the instructions below!</h3>
        <div class="tutorial_video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/qu-ZkM5kk3g" frameborder="0" allowfullscreen></iframe>
        </div>
      </section>
      
      <section>
        <h3>Step 1: The right Drill</h3>
        <p>Go buy a pin vice drill that looks comfortable to hold. Its more important to get good drill bits than a good drill. Bits that have a thick stem are much easier to pin with, and won't slip out of the vice's grip.</p>
      </section>

      <section>
        <h3>Step 2: Proper Precautions</h3>
        <p>Before you pin your model you need to do a dry run. Get all the parts of the model and put it together with small bits of bluetack. Make sure it fits together properly and that you can see any areas where the model might not fit together correctly, or there are mistakes in the mould line.Straighten these out as much as you can, until your dry run is built the way you want your final product.</p>
    
        <p>Look at how the model joins together and try to find areas on the model where you could drill a hole without weakening that part of the structure. There are three things to keep in mind when looking for a place to drill:</p>

        <ol>
      	  <li>The depth of hole(a deeper hole allows a longer wire, which makes it less likely the wire will fall out of place.)</li> 

          <li>Sturdyness of drilled area(if you drill an area that is very thin, it stands to reason you will have a weaker join. Drilling in very thin areas can actually damage the model.)</li>

          <li>Angle of hole. (Two connected drill holes that make a more or less straight line give a sturdier pinning than two holes at an awkward angle to each other.)</li>
        </ol>
      </section>

      <aside id="caution_body">
      	<img class="article_image" src="/images/caution-symbol.png" alt="Danger Sign"><img class="tutorial_article_image" src="/images/caution-symbol.png" alt="Danger Sign">
        <div id="caution_text">
          <h3>Caution!</h3>
      	  <p>For multipart models you should plan out where each driled hole will go, so that you don't have overlapping holes from different pieces going into the main body of a mini at the same place.</p>
        </div>
      </aside>

      <section>
        <h3>Step 3:The beginning of the pininning</h3>
        <p>Once you know what angle you'll drill at, hold the drill steady at that angle, resting against your palm. Twist it with your fingers, while keeping it steady. I recommend you practice this on a spare piece of sprue first, and if you are still having trouble mark the area you want to drill with a scalpel. Honestly, look at the video if you want to know how to turn a drill.</p> 

        <p>Twist until you have a hole of the desired depth. Take out the drill regularly and check how far in it has gone so that you know when you should stop. You DO NOT want to come out the other side of the model.</p>
      </section>

      <section>
        <h3>Step 4: Pinning the other side</h3>
        <p>It can be hard to make sure you are going to drill the second hole in the mirrored spot. I suggest you put some bluetack firmly in place on the part of the model you haven't drilled yet. Then press the model together. Take them apart carefully, without twisting or sliding. There should be a blue nubbin from the hole. Drill into this nubbin to get the right spot.</p>
      </section>

      <section>
        <h3>Step 5:Tips and warnings</h3>
        <p>If you are pinning a big model, pick multiple pin locations for pieces that have a large shared surface area. For instance a tank turret would need two or three pins.</p>

        <p>If you are pinning something small like a weapon shaft, make sure you use a small drill bit like .8mm or smaller.Make sure you pin very straight. In addition, try to get the drill hole to go as far as a hand or other wider area along the shaft. This area is sturdier, and is more able to cope with the end of the hole being there. The end of the hole is the weakest part of the drilled hole, and when it comes to pinning shafts and other thin areas the end of the hole is where it is most likely to break, if not done correctly. This can ruin the model, as you will have metal stuck in the piece, with no way of getting it out and re-pinning it.</p> 

        <p>I hope this was helpful. If people have any other suggestions I should add in please let me know.</p>
      </section>
  	</article>

    <%-partial("../includes/_footer.ejs")%>
  </body>
</html>