<footer id="footer">
  <hr>
  <p class="footer-site-owner"><i>All video and written content is owned by Robert Alexander. copyright: 2017</i>
  <br>
  If you have any questions about the site, feel free to <a href="../contact-me.html">contact me</a>
  </p>
</footer>