<nav class="navigation">
      <ul><br><br>
        <li id="indexpage"><a href="../index.html">HOME PAGE</a></li><br><br>
        <li><a href="../tutorials/tutorials-main.html">TUTORIALS</a></li><br><br>
        <li id="toolspage"><a href="../tools.html">TOOLS I USE</a></li><br><br>
        <li id="musicpage"><a href="../musicpage.html">MUSIC</a></li><br><br>
        <li id="contactpage"><a href="../contact-me.html">CONTACT ME</a></li><br><br>
      </ul>
    </nav>

    <script>
    $("#<%=id%>").addClass("current");
    </script>